*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: Helvetica, sans-serif;
    color: #CCC;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "nav main"
                         ". footer";
    grid-gap: .5em;
}

code {
    background-color: #555;
    padding: .15em;
}

li {
    list-style: none;
}

a {
    color: #AAA;
}

a:hover {
    background-color: rgba(125, 125, 125, 0.3);
}

/* Nav Section - Desktop Version */
#navbar {
    grid-area: nav;
    position: fixed;
    width: 25%;
    left: 0;
    bottom: 0;
    z-index: 99999;
    padding: 1.2em;
}

#navbar header h1 {
    margin: .8em 0;
    font-size: 2.4rem;
}

#navbar li {
    border-bottom: rgba(125, 125, 125, 0.3) 1px solid;
}

#navbar li:last-child {
    border: none;
}

#navbar li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 2.2em;
    line-height: 2.2em;
    font-size: 1.2rem;
    padding-left: .8em;
}

/* Main Documentation Area */
#main-doc {
    grid-area: main;
    margin: 0 1em;
}

#main-doc header {
    margin: 1.8em 0;
    color: #DDD;
}

#main-doc p {
    margin: 1em 0;
    padding-left: 1em;
    line-height: 1.3em;
}

#main-doc ul li {
    height: 1.8em;
    line-height: 1.8em;
    padding-left: 3em;
    list-style-position: inside;
    list-style-type: " ✔️ ";
}

/* Tables Style */
table {
    margin-left: 1em;
}

th,
td {
  padding: .8em;
  text-align: left;
  border-bottom: 1px solid #AAA; 
}

th:first-child,
td:first-child {
  padding-left: 1em; 
}

/* Footer Area */
footer {
    grid-area: footer;
    text-align: center;
    margin: .8em auto;
}

@media only screen and (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        padding: .8em;
    }

    /* Nav Section - Desktop Version */
    #navbar {
        position: unset;
        width: 100%;
        z-index: unset;
        padding: 0;
        margin-bottom: 1em;
    }

    #navbar header h1 {
        margin: .6em 0;
        font-size: 2rem;
        text-align: center;
    }

    #navbar ul {
        max-height: 120px;
        overflow: scroll;
        border: 3px solid rgba(125, 125, 125, 0.3);
    }
    #navbar li a {
        padding-left: 0;
        text-align: center;
        height: 2em;
        line-height: 2em;
    }

    /* Main Documentation Area */
    #main-doc {
        margin: 0 0;
    }
}