*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    width: 1000px;
    margin: 2em auto;
    font-family: Helvetica, sans-serif;
    color: #CCC;
}

code {
    background-color: #555;
    padding: .15em;
}

footer {
    text-align: center;
    margin: 1em auto;
}